html{
	margin:0px;
    padding:0px;
    -webkit-print-color-adjust:exact;
}

body{
	margin:0px;
	padding:0px;
	font-family: 'Book Antiqua';
    width:2100px;
    height:2969px;
}

@font-face {
font-family: Outlaw;
font-weight: bold;
src: url("OUTLAW.otf") format("opentype");
}

@font-face {
font-family: Stint;
font-weight: normal;
src: url("StintUltraCondensed-Regular.ttf");
}

@font-face {
font-family: Serifa;
font-weight: bold;
src: url("Serifa Bold Condensed.ttf");
}

@font-face {
font-family: OldTown;
font-weight: bold;
src: url("OldTownRegular.ttf");
}

@font-face {
font-family: OldEnglish;
src: url("Old English CE.woff") format("woff");
}

@font-face {
  font-family: 'Fruktur';
  font-style: bold;
  font-weight: 400;
  src: local('Fruktur'), local('Fruktur-Regular'), url(http://fonts.gstatic.com/s/fruktur/v8/sr80eMxHdhQ1Leg-pem6KPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Fruktur';
  font-style: bold;
  font-weight: 400;
  src: local('Fruktur'), local('Fruktur-Regular'), url(http://fonts.gstatic.com/s/fruktur/v8/GzfYV5tEJQgnhy9LNDFueg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: DeutscheZierschrift;
font-style: normal;
src: url("DeutscheZierschrift.ttf");
}

@font-face {
font-family: FortMillsMirrorDecoCaps;
font-style: normal;
src: url(DecoCaps.ttf);
}

@font-face {
font-family: FortMillsHeraldDate;
font-style: normal;
src: url(JandaQuirkygirl.ttf);
}

@media screen{
  body{
	border:1px solid #000;
    margin:10px;
  }
}

@page{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media print{
  body{
	border:0px solid #fff;
  }
}

.two-columns{
  width: 1000px;
  margin: auto;
  border: 0px solid #000;
}

.left-column{
  width: 300px;
  padding: 0px;
  float: left;
}

.right-column{
  width: 660px;
  padding-right: 10px;
  float: right;
}

.left-column-wide{
  width: 660px;
  padding: 0px;
  float: left;
}

.right-column-thin{
  width: 300px;
  padding-right: 0px;
  float: right;
}

.three-columns{
  width: 1003px;
  margin: auto;
  padding:5px 15px;
  border: 1px solid black;
  text-align: justify;
  text-align-last: left;
}

.three-columns h1{
  font-family:Stint; 
  font-size:280%;
  margin:0px;
  padding:0px;
}

p {
    text-indent: 17px;
}

.big-right-column{
  width: 672px;
  padding-right: 0px;
  float: right;
}

.left-two-columns{
  width: 672px;
  padding-left: 0px;
  float: left;
}

.long-right-column {
  width: 320px;
  padding: 0px;
  margin: auto;
  position: absolute;
  right: 24px;
}

.bottom-left-two-columns{
  width: 672px;
  padding-left: 0px;
  float: left;
  border-top: 0px solid black;
  border-right: 0px solid black;
  margin-top: 5px;
  padding-top: 10px;
}

.vertical {
  transform: rotate(-90deg);
  transform-origin: left top 0;	
}
.vertical2 {
  transform: rotate(90deg);
  transform-origin: left top 0;	
}

.abstract {
  font-family:Stint; 
  font-size:23px;
  font-weight: bold;
  margin:0px;
  padding:0px;
}

.abstract b{
  font-family:Times; 
  font-size:78%;
  font-weight: bold;
  margin:0px;
  padding:0px;
}

.three-columns p{
  margin:0px;
  padding:6px 0px 0px 0px;
}

.text-cont {
    padding-top: 0px;
    margin-top: -15px;
}

.long-last {
    text-align-last: justify;
}

.first-column{
  width: 320px;
  padding: 0 10px 0 0;
  margin: auto;
  float: left;
}

.second-column{
  width: 320px;
  margin: auto;
  padding: 0 10px;
  float: left;

}
.third-column{
  width: 320px;
  padding: 0 0 0 10px;
  margin: auto;
  float: right;
}
